<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/styles/mystyle.css">
        <link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.  5/jquery.mCustomScrollbar.min.css">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src = "/assets/js/admin.js"></script>
	</head>
	<body>
		<div class="text-center">
			<h1 class="header">Admin</h1>
		</div>
		<!--menu starts-->
		<div class="text-center">
            <a href="/Admin" class="btn btn-primary">Dashboard</a>
            <a href="/admin/allbooks" class="btn btn-warning">All Books</a>
            <a href="/admin/addnewbook" class="btn btn-danger">Add Book</a>
            <a href="/admin/allusers" class="btn btn-warning">All Users</a>
            <a href="/admin/addnewadmin" class="btn btn-info">Add New Admin</a>
            <a href="/admin/renthistory" class="btn btn-info">See Purchase History</a>
            <a href="/admin/profile" class="btn btn-info">Profile</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
        
        <div class="center">
            <div class="form-group">
                <label>Select Book Category</label>
                <select id="category" name="category" class="form-control">
					<option value="Story">Story</option>
                        <option value="History">History</option>
                        <option value="Poem">Poem</option>
                </select>
            </div>
            
            <h3 class="text">All Cars</h3>
            <table class="table table-striped">
                <thead>
                    <td>ID</td>
                    <td>Book Name</td>
                    <td>Author Name</td>
                    <td>Category</td>
                    <td>Price</td>
                    <td>Image</td>
                    <td>No of Available</td>
                    <td></td>
                </thead>
                <tbody id="tbody">
                    <% 
                        books.forEach( function(book){ %>
                            <tr>
                                <td><%= book.id %></td>
                                <td><%= book.bookname %></td>
                                <td><%= book.authorname %></td>
                                <td><%= book.category %></td>
                                <td><%= book.price %></td>
                                <td><img class="card-image" src="<%= book.image%>"></img></td>
                                <td><%= book.availability%></td>
                                <td>
                                    <a href="/admin/editbook/<%= book.id %>" class="btn btn-danger">view</a>
                                </td>
                            </tr>
        
                    <%
                        }); 
                    %>
                </tbody>
            </table>
        </div>   
	</body>
</html>